@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    width: 1440px;
    margin: 0 auto;
}

.Nmain {
    background-color: blue;
}

.firstlogo {
    width: 112px;
    height: 66px;
    margin: 21px 0 0 121px;
}